@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
p, h3 {
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root, #root>div {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  margin: 0;
}